//Navbar
$navbar-text-color: white;
$navbar-bg-color: black;
$navbar-link-color: white;
$navbar-link-hover-bottom-border-color: white;
$navbar-mobile-menu-bg-color: rgb(0, 0, 0);
$navbar-mobile-menu-links-color: white;
$navbar-social-icons-color: gray;

//Hero Section Colors
$color-hero-section__title-heading: white;
$color-hero-section-main-link-text: white;

// New Arrivals Colors
$new-arrivals-bg-color: black;
$new-arrivals__container-text-heading: white;
$new-arrivals__container-link-color: white;

//About Section Colors
$gradiant-color-one: #0000;
$gradiant-color-two: rgba(0, 0, 0, 0.949);
$about-section__content-title: white;
$about-section__content-paragraph: white;

//Sale Section Colors
$sale-section-main-heading: white;
$sale-section-secondary-heading: white;
$sale-section-list-text-color: white;

//Contact Section Colors
$contact-section-bg-color: black;
$input-label-color: white;
$form-name-input-color: white;
$input-color-text-email: white;
$input-bg-color: black;
$input-border-color: white;
$text-area-color: white;
$text-area-bg-color: black;
$text-area-border-color: white;
$submit-btn-color: white;
$submit-btn-bg-color: black;
$submit-btn-border-color: white;
$submit-hover-bg-color: white;
$submit-hover-text-color: black;
$contact-section__container-text-color: white;
$contact-section__container-text-title-color: white;
$contact-section__container-text-paragraph: white;

// Footer Colors
$footer-bg-color: rgb(26, 26, 26);
$footer-list-text-color: gray;
$footer-list-bottom-border-color: gray;

//Fonts
$h4-font: "Merriweather";
